<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" href="img/icon-logo.png" type="image/x-icon">

  <link rel="stylesheet" href="css/style.css">

  <link rel="stylesheet" href="css/normalize.css">

  <title>Flejes San Martin - Nosotros</title>
</head>

<a href="https://wa.me/573143754285?text=Me%20gustaría%20saber%20mas%20de%20Flejes%20San%20Martin" class="whatsapp" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon" aria-hidden="true"></i></a>

<body>
  <header class="header">
    <i class="fa-solid fa-envelope"></i>
    <p>Flejessanmaartinn2002@hotmail.com</p>
  </header>

  <nav class="nav-bg">
    <div class="contenedor navegation">
      <a href="../index.html" class="img-nav">
        <img loading="lazy" src="img/logo-fooder.png" alt="imagen logo">
      </a>
    
  
      <div class="menu-icon">
        <div class="line"></div>
        <div class="line"></div>
      </div>
  
      <ul class="nav-links menu">
        <li><a href="../index.html">Inicio</a></li>
        <li class="dropdown">
          <a href="#">Nosotros <i class="fas fa-chevron-down"></i></a>
          <ul class="dropdown-content">
            <li><a href="about.html">Quiénes somos</a></li>
            <li><a href="about-service.html">Nuestros servicios</a></li>
          </ul>
        </li>
        <li><a href="gallery.html">Galería</a></li>
        <li class="dropdown">
          <a href="#">Blog <i class="fas fa-chevron-down"></i></a>
          <ul class="dropdown-content">
            <li><a href="blog.html">Publicaciones recientes</a></li>
            <li><a href="blog-category.html">Categorías de blog</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#">Tienda <i class="fas fa-chevron-down"></i></a>
          <ul class="dropdown-content">
            <li><a href="shop.html">Todos los productos</a></li>
            <li><a href="shop-category.html">Categorías de productos</a></li>
          </ul>
        </li>
        <li><a href="contact.html">Contacto</a></li>
        <li><a href="login.html"><i class="fa-solid fa-user"></i></a></li>
      </ul>

    </div>
    
  </nav>


  <section class="hero hero-min">
    <div class="hero__content">
      <div class="hero__contenido">
        <h3>Sobre Nosotros</h3>
      </div>
    </div>
  </section>


  <main class="contenedor about">
    <h4>¿Quienes Somos?</h4>
    <p>
      En Flejes San Martin, somos una empresa dedicada a la venta de flejes o estribos y varillas, así como a la ornamentación de alta calidad. Nos enorgullece ofrecer materiales de construcción de primera calidad y adaptarnos a las necesidades específicas de nuestros clientes, ofreciendo opciones tanto de material nuevo como de segunda mano, para ajustarnos a sus necesidades y capital.
    </p>
    <div class="about__section">

      <div class="about__box">
        <img src="./img/rods.jpg" alt="imagen de material de construcción">
        <p>
          En el área de venta de materiales, nuestro objetivo principal es proporcionar la mejor calidad y variedad de productos a nuestros clientes. Trabajamos arduamente para ofrecer materiales duraderos y confiables, asegurando que cada proyecto cuente con los elementos necesarios para su éxito. Nos adaptamos a las necesidades y presupuesto de nuestros clientes, brindando opciones tanto de material nuevo como de segunda mano, para garantizar su satisfacción.
        </p>
        <a href="./about-service.html#ventas" class="btn btn-primary">Mas Informacion</a>
        
      </div>

      <div class="about__box">
        <img src="./img/Welder.jpg" alt="imagen de ornamentación">
        <p>
          En cuanto a la ornamentación, nos destacamos por ofrecer una calidad excepcional en cada aspecto del proceso. Desde la construcción hasta la pintura y la instalación, nos esforzamos por superar las expectativas de nuestros clientes. Contamos con un equipo altamente capacitado y experimentado que se dedica a crear diseños únicos y personalizados, ya sea siguiendo las ideas y especificaciones del cliente o aportando nuestra experiencia y creatividad. Estamos abiertos a la colaboración y valoramos las ideas que nuestros clientes nos brindan, ya que nos permite crear proyectos que reflejen su visión.
        </p>
        <a href="./about-service.html#ornamentacion" class="btn btn-primary">Mas Informacion</a>
      </div>

      <div class="about__card">
        <h4>Compromiso</h4>
        <div class="about__info">
          <img src="" alt="">
          <p>
            Nuestro compromiso principal es brindar a nuestros clientes la mejor calidad y servicio posible. Nos esforzamos por ofrecer soluciones rápidas y efectivas, cumpliendo con los plazos de entrega y garantizando la satisfacción total del cliente en cada proyecto.
          </p>
        </div>
      </div>

      <div class="about__card">
        <h4>Experiencia</h4>
        <div class="about__info">
          <img src="" alt="">

          <p>
            Con más de 10 años de experiencia en el mercado de venta de materiales de construcción y ornamentación, nuestro compromiso principal es brindar a nuestros clientes la mejor calidad y servicio posible. Nos esforzamos por ofrecer soluciones rápidas y efectivas, cumpliendo con los plazos de entrega y garantizando la satisfacción total del cliente en cada proyecto.
          </p>
        </div>
      </div>

    </div>

    <p>
      En Flejes San Martin, valoramos la confianza que nuestros clientes depositan en nosotros y nos comprometemos a mantenernos a la vanguardia de la industria, siempre ofreciendo productos y servicios de la más alta calidad. <b>¡Permítenos ser tu socio confiable en tus proyectos de construcción y ornamentación!</b>.
    </p>
  </main>

  <footer class="footer">
    <div class="contenedor footer__content">
      <div class="footer__contenido">

        <div class="footer__logo">
          <img loading="lazy" src="img/logo-fooder.png" alt="Logo">
        </div>

        <div class="footer__info">
          <h3>Contáctanos</h3>
          <p>Cl. 132D #147A-31</p>
          <p>+57 314 3754285</p>
          <p> Flejessanmaartinn2002@hotmail.com</p>
        </div>

        <div class="footer__newsletter">
          <h3>Suscríbete a nuestro boletín</h3>
          <form class="footer__form">
            <input type="email" placeholder="Ingresa tu correo electrónico">
            <button type="submit" class="footer__btn btn">Suscribirse</button>
          </form>
        </div>

        <div class="footer__menu">
          <h3>Enlaces útiles</h3>
          <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="shop.html">Productos</a></li>
            <li><a href="about-service.html">Servicios</a></li>
            <li><a href="contact.html">Contacto</a></li>
          </ul>
        </div>

      </div>

      <div class="footer__copyright">
        <p>Copyright © 2023 <a href="#">Flejes San Martin LG SAS</a></p>
      </div>
    </div>
  </footer>


  



  <script src="js/script.js"></script>

  <script src="https://kit.fontawesome.com/6871133f1b.js" crossorigin="anonymous"></script>

</body>

</html>